
USE [SAXWDDB ]
GO

/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/07/2018 10:44:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_AREA_CENCOSTO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_AREA_CENCOSTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_AREA_OPERATIVA]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_AREA_OPERATIVA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_CATALOGO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_CATALOGO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_CATALOGO_DETALLE]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_CATALOGO_DETALLE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_CENTRO_COSTO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_CENTRO_COSTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_COMPROBANTE]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_COMPROBANTE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_COMPROBANTE_DETALLE]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_COMPROBANTE_DETALLE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_CONCEPTO_COSTO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_CONCEPTO_COSTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_CUENTA_CONTABLE]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_CUENTA_CONTABLE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_DIAS_FERIADOS]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_DIAS_FERIADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_EMPRESA]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_EMPRESA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_EMPRESA_CENTRO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_EMPRESA_CENTRO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_EVENTO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_EVENTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_EVENTO_TEMP]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_EVENTO_TEMP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_LOG_USUARIO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_LOG_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_MODULO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_MODULO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_MODULO_ROL]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_MODULO_ROL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_PARAMETRO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_PARAMETRO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_PARAMETRO_TEMP]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_PARAMETRO_TEMP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_PARTIDAS]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_PARTIDAS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_REGISTRO_CONTROL]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_REGISTRO_CONTROL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_ROLES]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_ROLES]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_SALDO_CONTABLE]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_SALDO_CONTABLE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_SUPERVISOR]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_SUPERVISOR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_SUPERVISOR_TEMP]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_SUPERVISOR_TEMP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_USUARIO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_USUARIO_AREA]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_USUARIO_AREA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_USUARIO_EMPRESA]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_USUARIO_EMPRESA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_USUARIO_ROL]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_USUARIO_ROL]
GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_MONEDA]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_MONEDA]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_PARAMETRO_ARCHIVO]') AND type in (N'U'))
DROP TABLE [dbo].[SAX_PARAMETRO_ARCHIVO]
GO

/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/9/2018 5:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/9/2018 5:39:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Estatus] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Discriminator] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/9/2018 5:39:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/9/2018 5:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/9/2018 5:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[IDAspNetUserRol] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[IDAspNetUserRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/9/2018 5:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Level] [tinyint] NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Estatus] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_AREA_CENCOSTO]    Script Date: 4/9/2018 5:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_AREA_CENCOSTO](
	[AD_ID_REGISTRO] [int] NOT NULL,
	[CA_ID_AREA] [int] NOT NULL,
	[EC_ID_REGISTRO] [int] NOT NULL,
	[AD_ESTATUS] [int] NOT NULL,
	[AD_FECHA_CREACION] [datetime] NOT NULL,
	[AD_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[AD_FECHA_MOD] [datetime] NULL,
	[AD_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_AREA_CENCOSTO] PRIMARY KEY CLUSTERED 
(
	[AD_ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_AREA_OPERATIVA]    Script Date: 4/9/2018 5:39:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_AREA_OPERATIVA](
	[CA_ID_AREA] [int] IDENTITY(1,1) NOT NULL,
	[CA_COD_AREA] [int] NOT NULL,
	[CA_NOMBRE] [varchar](100) NOT NULL,
	[CA_ESTATUS] [int] NOT NULL,
	[CA_FECHA_CREACION] [datetime] NOT NULL,
	[CA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CA_FECHA_MOD] [datetime] NULL,
	[CA_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_AREA_OPERATIVA] PRIMARY KEY CLUSTERED 
(
	[CA_ID_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_CATALOGO]    Script Date: 4/9/2018 5:39:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_CATALOGO](
	[CA_ID_CATALOGO] [int] IDENTITY(1,1) NOT NULL,
	[CA_TABLA] [varchar](30) NOT NULL,
	[CA_DESCRIPCION] [varchar](60) NOT NULL,
	[CA_FECHA_CREACION] [datetime] NOT NULL,
	[CA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CA_FECHA_MOD] [datetime] NULL,
	[CA_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_CATALOGO] PRIMARY KEY CLUSTERED 
(
	[CA_ID_CATALOGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_CATALOGO_DETALLE]    Script Date: 4/9/2018 5:39:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_CATALOGO_DETALLE](
	[CD_ID_CATALOGO_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[CA_ID_CATALOGO] [int] NOT NULL,
	[CD_TABLA] [int] NOT NULL,
	[CD_VALOR] [varchar](60) NOT NULL,
	[CD_ESTATUS] [int] NOT NULL,
	[CD_FECHA_CREACION] [datetime] NOT NULL,
	[CD_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CD_FECHA_MOD] [datetime] NULL,
	[CD_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_CATALOGO_DETALLE] PRIMARY KEY CLUSTERED 
(
	[CD_ID_CATALOGO_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_CENTRO_COSTO]    Script Date: 4/9/2018 5:39:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_CENTRO_COSTO](
	[CC_ID_CENTRO_COSTO] [int] IDENTITY(1,1) NOT NULL,
	[CC_CENTRO_COSTO] [varchar](5) NOT NULL,
	[CC_NOMBRE] [varchar](60) NOT NULL,
	[CC_ESTATUS] [int] NOT NULL,
	[CC_FECHA_CREACION] [datetime] NOT NULL,
	[CC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CC_FECHA_MOD] [datetime] NULL,
	[CC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_CENTRO_COSTO] PRIMARY KEY CLUSTERED 
(
	[CC_ID_CENTRO_COSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_COMPROBANTE]    Script Date: 4/9/2018 5:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_COMPROBANTE](
	[TC_ID_COMPROBANTE] [int] IDENTITY(1,1) NOT NULL,
	[TC_COD_OPERACION] [varchar](5) NOT NULL,
	[TC_FECHA_PROCESO] [datetime] NOT NULL,
	[TC_TOTAL_REGISTRO] [int] NOT NULL,
	[TC_TOTAL_DEBITO] [decimal](18, 2) NOT NULL,
	[TC_TOTAL_CREDITO] [decimal](18, 2) NOT NULL,
	[TC_TOTAL] [decimal](18, 2) NOT NULL,
	[TC_ESTATUS] [varchar](10) NOT NULL,
	[TC_FECHA_CREACION] [datetime] NOT NULL,
	[TC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[TC_FECHA_APROBACION] [datetime] NOT NULL,
	[TC_USUARIO_APROBADOR] [nvarchar](128) NULL,
	[TC_FECHA_MOD] [datetime] NOT NULL,
	[TC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_COMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[TC_ID_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_COMPROBANTE_DETALLE]    Script Date: 4/9/2018 5:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_COMPROBANTE_DETALLE](
	[TD_ID_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[TC_ID_COMPROBANTE] [int] NOT NULL,
	[PA_REGISTRO] [int] NOT NULL,
	[TD_FECHA_CREACION] [datetime] NOT NULL,
	[TD_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[TD_FECHA_MOD] [datetime] NOT NULL,
	[TD_USUARIO_MOD] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_SAX_COMPROBANTE_DETALLE] PRIMARY KEY CLUSTERED 
(
	[TD_ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_CONCEPTO_COSTO]    Script Date: 4/9/2018 5:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_CONCEPTO_COSTO](
	[CC_ID_CONCEPTO_COSTO] [int] IDENTITY(1,1) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[CC_NUM_CONCEPTO] [varchar](10) NOT NULL,
	[CC_CUENTA_MAYOR] [varchar](16) NOT NULL,
	[CC_DESCRIPCION] [varchar](100) NOT NULL,
	[CC_ESTATUS] [char](1) NULL,
	[CC_FECHA_CREACION] [datetime] NOT NULL,
	[CC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CC_FECHA_MOD] [datetime] NULL,
	[CC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_CONCEPTO_COSTO] PRIMARY KEY NONCLUSTERED 
(
	[CC_ID_CONCEPTO_COSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_CONCEPTO_COSTO] UNIQUE CLUSTERED 
(
	[CE_ID_EMPRESA] ASC,
	[CC_NUM_CONCEPTO] ASC,
	[CC_CUENTA_MAYOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_CUENTA_CONTABLE]    Script Date: 4/9/2018 5:39:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_CUENTA_CONTABLE](
	[CO_ID_CUENTA_CONTABLE] [int] IDENTITY(1,1) NOT NULL,
	[CO_INSTITUCION] [int] NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[CO_CUENTA_CONTABLE] [varchar](14) NOT NULL,
	[CO_COD_AUXILIAR] [varchar](3) NOT NULL,
	[CO_NUM_AUXILIAR] [varchar](13) NOT NULL,
	[CO_NOM_CUENTA] [varchar](60) NOT NULL,
	[CO_NOM_AUXILIAR] [varchar](60) NOT NULL,
	[CO_COD_CONCILIA] [char](1) NULL,
	[CO_COD_NATURALEZA] [char](1) NULL,
	[CO_COD_AREA] [varchar](4) NULL,
	[CO_CTA_CONTABLE_CONTRA] [varchar](14) NULL,
	[CO_COD_AUXILIAR_CONTRA] [varchar](3) NULL,
	[CO_NUM_AUXILIAR_CONTRA] [varchar](13) NULL,
	[CO_NOM_CUENTA_CONTRA] [varchar](60) NULL,
	[CO_ESTATUS] [int] NOT NULL,
	[CO_FECHA_CREACION] [datetime] NOT NULL,
	[CO_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CO_FECHA_MOD] [datetime] NULL,
	[CO_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_CUENTA_CONTABLE] PRIMARY KEY NONCLUSTERED 
(
	[CO_ID_CUENTA_CONTABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_CUENTA_CONTABLE] UNIQUE CLUSTERED 
(
	[CO_INSTITUCION] ASC,
	[CE_ID_EMPRESA] ASC,
	[CO_CUENTA_CONTABLE] ASC,
	[CO_COD_AUXILIAR] ASC,
	[CO_NUM_AUXILIAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_DIAS_FERIADOS]    Script Date: 4/9/2018 5:39:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_DIAS_FERIADOS](
	[CD_ID_DIA_FERIADO] [int] IDENTITY(1,1) NOT NULL,
	[CD_ANNIO] [int] NOT NULL,
	[CD_MES] [int] NOT NULL,
	[CD_DIA] [int] NOT NULL,
	[CD_ESTATUS] [int] NOT NULL,
	[CD_FECHA_CREACION] [datetime] NOT NULL,
	[CD_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CD_FECHA_MOD] [datetime] NULL,
	[CD_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_DIAS_FERIADOS] PRIMARY KEY NONCLUSTERED 
(
	[CD_ID_DIA_FERIADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_DIAS_FERIADOS] UNIQUE CLUSTERED 
(
	[CD_ANNIO] ASC,
	[CD_MES] ASC,
	[CD_DIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_EMPRESA]    Script Date: 4/9/2018 5:39:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_EMPRESA](
	[CE_ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[CE_COD_EMPRESA] [varchar](3) NOT NULL,
	[CE_NOMBRE] [varchar](100) NOT NULL,
	[CE_ESTATUS] [char](1) NOT NULL,
	[CE_FECHA_CREACION] [datetime] NOT NULL,
	[CE_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CE_FECHA_MOD] [datetime] NULL,
	[CE_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[CE_ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_EMPRESA_CENTRO]    Script Date: 4/9/2018 5:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_EMPRESA_CENTRO](
	[EC_ID_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[CC_ID_CENTRO_COSTO] [int] NOT NULL,
	[EC_ESTATUS] [int] NOT NULL,
	[EC_FECHA_CREACION] [datetime] NOT NULL,
	[EC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[EC_FECHA_MOD] [datetime] NULL,
	[EC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_EMPRESA_CENTRO] PRIMARY KEY CLUSTERED 
(
	[EC_ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_EVENTO]    Script Date: 4/9/2018 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_EVENTO](
	[EV_COD_EVENTO] [int] IDENTITY(1,1) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[CA_COD_AREA] [int] NOT NULL,
	[EV_DESCRIPCION_EVENTO] [varchar](100) NOT NULL,
	[EV_CUENTA_DEBITO] [varchar](14) NOT NULL,
	[EV_COD_AUXILIARD] [varchar](3) NOT NULL,
	[EV_NUM_AUXILIARD] [varchar](13) NOT NULL,
	[EV_CUENTA_CREDITO] [varchar](14) NOT NULL,
	[EV_COD_AUXILIARC] [varchar](3) NOT NULL,
	[EV_NUM_AUXILIARC] [varchar](13) NOT NULL,
	[EV_REFERENCIA] [varchar](1) NOT NULL,
	[EV_TIPO_ACCION] [varchar](15) NOT NULL,
	[EV_ESTATUS_ACCION] [varchar](15) NOT NULL,
	[EV_ESTATUS] [int] NOT NULL,
	[EV_FECHA_CREACION] [datetime] NOT NULL,
	[EV_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[EV_FECHA_MOD] [datetime] NULL,
	[EV_USUARIO_MOD] [nvarchar](128) NULL,
	[EV_FECHA_APROBACION] [datetime] NULL,
	[EV_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_EVENTO] PRIMARY KEY CLUSTERED 
(
	[EV_COD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_EVENTO_TEMP]    Script Date: 4/9/2018 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_EVENTO_TEMP](
	[EV_COD_EVENTO_TEMP] [int] IDENTITY(1,1) NOT NULL,
	[EV_COD_EVENTO] [int] NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[CA_COD_AREA] [int] NOT NULL,
	[EV_DESCRIPCION_EVENTO] [varchar](100) NOT NULL,
	[EV_CUENTA_DEBITO] [varchar](14) NOT NULL,
	[EV_COD_AUXILIARD] [varchar](3) NOT NULL,
	[EV_NUM_AUXILIARD] [varchar](13) NOT NULL,
	[EV_CUENTA_CREDITO] [varchar](14) NOT NULL,
	[EV_COD_AUXILIARC] [varchar](3) NOT NULL,
	[EV_NUM_AUXILIARC] [varchar](13) NOT NULL,
	[EV_REFERENCIA] [varchar](1) NOT NULL,
	[EV_TIPO_ACCION] [varchar](15) NOT NULL,
	[EV_ESTATUS_ACCION] [varchar](15) NOT NULL,
	[EV_ESTATUS] [int] NOT NULL,
	[EV_FECHA_CREACION] [datetime] NOT NULL,
	[EV_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[EV_FECHA_MOD] [datetime] NULL,
	[EV_USUARIO_MOD] [nvarchar](128) NULL,
	[EV_FECHA_APROBACION] [datetime] NULL,
	[EV_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_EVENTO_TEMP] PRIMARY KEY CLUSTERED 
(
	[EV_COD_EVENTO_TEMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_LOG_USUARIO]    Script Date: 4/9/2018 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_LOG_USUARIO](
	[LG_SECUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[US_ID_USUARIO] [nvarchar](128) NOT NULL,
	[LG_FECHA] [datetime] NOT NULL,
	[LG_HORA] [time](7) NOT NULL,
	[LG_PROCESO] [varchar](50) NOT NULL,
	[LG_OBJETO] [varchar](50) NOT NULL,
	[LG_TABLA] [varchar](50) NOT NULL,
	[LG_OPERACION] [varchar](50) NOT NULL,
	[LG_ACCION] [varchar](150) NOT NULL,
	[LG_FECHA_CREA] [datetime] NOT NULL,
	[LG_USUARIO_CREA] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_SAX_LOG_USUARIO] PRIMARY KEY CLUSTERED 
(
	[LG_SECUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_MODULO]    Script Date: 4/9/2018 5:39:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_MODULO](
	[MO_ID_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[MO_MODULO] [varchar](60) NOT NULL,
	[MO_PATH] [varchar](100) NOT NULL,
	[MO_DESCRIPCION] [varchar](100) NOT NULL,
	[MO_ESTATUS] [int] NOT NULL,
	[MO_FECHA_CREACION] [datetime] NOT NULL,
	[MO_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[MO_FECHA_MOD] [datetime] NULL,
	[MO_USUARIO_MOD] [nvarchar](128) NULL,
	[MO_ULTIMO_ACCESO] [datetime] NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[MO_ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_MODULO_ROL]    Script Date: 4/9/2018 5:39:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_MODULO_ROL](
	[MR_ID_MODULO_ROL] [int] IDENTITY(1,1) NOT NULL,
	[MO_ID_MODULO] [int] NOT NULL,
	[RL_ID_ROL] [nvarchar](128) NOT NULL,
	[MR_ESTATUS] [int] NOT NULL,
	[MR_FECHA_CREACION] [datetime] NOT NULL,
	[MR_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[MR_FECHA_MOD] [datetime] NULL,
	[MR_USUARIO_MOD] [nvarchar](128) NULL,
	[MR_ULTIMO_ACCESO] [datetime] NULL,
 CONSTRAINT [PK_SAX_MODULO_ROL] PRIMARY KEY CLUSTERED 
(
	[MR_ID_MODULO_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_MONEDA]    Script Date: 4/9/2018 5:39:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_MONEDA](
	[CC_ID_MONEDA] [int] IDENTITY(1,1) NOT NULL,
	[CC_NUM_MONEDA] [varchar](4) NOT NULL,
	[CC_DESC_MONEDA] [varchar](30) NOT NULL,
	[CC_COD_CURRENCY] [varchar](4) NOT NULL,
	[CC_ESTATUS] [char](1) NULL,
	[CC_FECHA_CREACION] [datetime] NOT NULL,
	[CC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[CC_FECHA_MOD] [datetime] NULL,
	[CC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_MONEDA] PRIMARY KEY NONCLUSTERED 
(
	[CC_ID_MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_PARAMETRO]    Script Date: 4/9/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_PARAMETRO](
	[PA_ID_PARAMETRO] [int] IDENTITY(1,1) NOT NULL,
	[PA_COD_PARAMETRO] [varchar](5) NOT NULL,
	[PA_DESCRIPCION] [varchar](100) NOT NULL,
	[PA_FECHA_PROCESO] [datetime] NOT NULL,
	[PA_FRECUENCIA] [varchar](1) NOT NULL,
	[PA_HORA_EJECUCION] [int] NOT NULL,
	[PA_FILE_CONTABLE] [varchar](100) NOT NULL,
	[PA_RUTA_CONTABLE] [varchar](100) NOT NULL,
	[PA_RUTA_TEMPORAL] [varchar](100) NOT NULL,
	[PA_FRECUENCIA_LIMPIEZA] [varchar](1) NOT NULL,
	[PA_TIPO_ACCION] [varchar](15) NOT NULL,
	[PA_ESTATUS_ACCION] [varchar](15) NOT NULL,
	[PA_ESTATUS] [int] NOT NULL,
	[PA_FECHA_CREACION] [datetime] NOT NULL,
	[PA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[PA_FECHA_MOD] [datetime] NULL,
	[PA_USUARIO_MOD] [nvarchar](128) NULL,
	[PA_FECHA_APROBACION] [datetime] NULL,
	[PA_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[PA_ID_PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_PARAMETRO_ARCHIVO]    Script Date: 4/9/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_PARAMETRO_ARCHIVO](
	[ID_PARAMETRO_ARCHIVO] [int] IDENTITY(1,1) NOT NULL,
	[IDPROCESS] [varchar](5) NOT NULL,
	[FILENAME] [varchar](100) NOT NULL,
	[FILESERVERPATH] [varchar](100) NOT NULL,
	[FILEOBJECT] [varchar](60) NOT NULL,
	[USERBATCH] [varchar](8) NOT NULL,
	[DATEPROCESS] [datetime] NOT NULL,
	[DATEPMODIFY] [datetime] NOT NULL,
	[USERMODIFY] [varchar](128) NOT NULL,
 CONSTRAINT [PK_PARAMETRO_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO_ARCHIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_PARAMETRO_TEMP]    Script Date: 4/9/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_PARAMETRO_TEMP](
	[PA_ID_PARAMETRO_TEMP] [int] IDENTITY(1,1) NOT NULL,
	[PA_ID_PARAMETRO] [int] NOT NULL,
	[PA_COD_PARAMETRO] [varchar](5) NOT NULL,
	[PA_DESCRIPCION] [varchar](100) NOT NULL,
	[PA_FECHA_PROCESO] [datetime] NOT NULL,
	[PA_FRECUENCIA] [varchar](1) NOT NULL,
	[PA_HORA_EJECUCION] [int] NOT NULL,
	[PA_FILE_CONTABLE] [varchar](100) NOT NULL,
	[PA_RUTA_CONTABLE] [varchar](100) NOT NULL,
	[PA_RUTA_TEMPORAL] [varchar](100) NOT NULL,
	[PA_FRECUENCIA_LIMPIEZA] [varchar](1) NOT NULL,
	[PA_TIPO_ACCION] [varchar](15) NOT NULL,
	[PA_ESTATUS_ACCION] [varchar](15) NOT NULL,
	[PA_ESTATUS] [int] NOT NULL,
	[PA_FECHA_CREACION] [datetime] NOT NULL,
	[PA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[PA_FECHA_MOD] [datetime] NULL,
	[PA_USUARIO_MOD] [nvarchar](128) NULL,
	[PA_FECHA_APROBACION] [datetime] NULL,
	[PA_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_PARAMETRO_TEMP] PRIMARY KEY CLUSTERED 
(
	[PA_ID_PARAMETRO_TEMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_PARTIDAS]    Script Date: 4/9/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_PARTIDAS](
	[PA_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[RC_REGISTRO_CONTROL] [int] NOT NULL,
	[PA_CONTADOR] [int] NOT NULL,
	[PA_COD_EMPRESA] [varchar](3) NOT NULL,
	[PA_FECHA_CARGA] [datetime] NOT NULL,
	[PA_FECHA_TRX] [datetime] NOT NULL,
	[PA_CTA_CONTABLE] [varchar](30) NOT NULL,
	[PA_CENTRO_COSTO] [varchar](4) NOT NULL,
	[PA_COD_MONEDA] [varchar](4) NOT NULL,
	[PA_IMPORTE] [decimal](18, 2) NOT NULL,
	[PA_REFERENCIA] [varchar](13) NOT NULL,
	[PA_EXPLICACION] [varchar](700) NOT NULL,
	[PA_PLAN_ACCION] [varchar](700) NULL,
	[PA_CONCEPTO_COSTO] [varchar](7) NULL,
	[PA_CAMPO_1] [varchar](50) NULL,
	[PA_CAMPO_2] [varchar](50) NULL,
	[PA_CAMPO_3] [varchar](50) NULL,
	[PA_CAMPO_4] [varchar](50) NULL,
	[PA_CAMPO_5] [varchar](50) NULL,
	[PA_CAMPO_6] [varchar](50) NULL,
	[PA_CAMPO_7] [varchar](50) NULL,
	[PA_CAMPO_8] [varchar](50) NULL,
	[PA_CAMPO_9] [varchar](50) NULL,
	[PA_CAMPO_10] [varchar](50) NULL,
	[PA_CAMPO_11] [varchar](50) NULL,
	[PA_CAMPO_12] [varchar](50) NULL,
	[PA_CAMPO_13] [varchar](50) NULL,
	[PA_CAMPO_14] [varchar](50) NULL,
	[PA_CAMPO_15] [varchar](50) NULL,
	[PA_CAMPO_16] [varchar](50) NULL,
	[PA_CAMPO_17] [varchar](50) NULL,
	[PA_CAMPO_18] [varchar](50) NULL,
	[PA_CAMPO_19] [varchar](50) NULL,
	[PA_CAMPO_20] [varchar](50) NULL,
	[PA_CAMPO_21] [varchar](50) NULL,
	[PA_CAMPO_22] [varchar](50) NULL,
	[PA_CAMPO_23] [varchar](50) NULL,
	[PA_CAMPO_24] [varchar](50) NULL,
	[PA_CAMPO_25] [varchar](50) NULL,
	[PA_CAMPO_26] [varchar](50) NULL,
	[PA_CAMPO_27] [varchar](50) NULL,
	[PA_CAMPO_28] [varchar](50) NULL,
	[PA_CAMPO_29] [varchar](50) NULL,
	[PA_CAMPO_30] [varchar](50) NULL,
	[PA_CAMPO_31] [varchar](50) NULL,
	[PA_CAMPO_32] [varchar](50) NULL,
	[PA_CAMPO_33] [varchar](50) NULL,
	[PA_CAMPO_34] [varchar](50) NULL,
	[PA_CAMPO_35] [varchar](50) NULL,
	[PA_CAMPO_36] [varchar](50) NULL,
	[PA_CAMPO_37] [varchar](50) NULL,
	[PA_CAMPO_38] [varchar](50) NULL,
	[PA_CAMPO_39] [varchar](50) NULL,
	[PA_CAMPO_40] [varchar](50) NULL,
	[PA_CAMPO_41] [varchar](50) NULL,
	[PA_CAMPO_42] [varchar](50) NULL,
	[PA_CAMPO_43] [varchar](50) NULL,
	[PA_CAMPO_44] [varchar](50) NULL,
	[PA_CAMPO_45] [varchar](50) NULL,
	[PA_CAMPO_46] [varchar](50) NULL,
	[PA_CAMPO_47] [varchar](50) NULL,
	[PA_CAMPO_48] [varchar](50) NULL,
	[PA_CAMPO_49] [varchar](50) NULL,
	[PA_CAMPO_50] [varchar](50) NULL,
	[PA_FECHA_CREACION] [datetime] NOT NULL,
	[PA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[PA_FECHA_MOD] [datetime] NULL,
	[PA_USUARIO_MOD] [nvarchar](128) NULL,
	[PA_FECHA_APROB] [datetime] NULL,
	[PA_USUARIO_APROB] [nvarchar](128) NULL,
	[PA_STATUS_PARTIDA] [varchar](10) NOT NULL,
	[PA_APLIC_ORIGEN] [varchar](10) NULL,
	[PA_TIPO_CONCILIA] [varchar](10) NULL,
	[PA_ESTADO_CONCILIA] [varchar](10) NULL,
	[PA_IMPORTE_PENDIENTE] [decimal](18, 2) NULL,
	[PA_FECHA_CONCILIA] [datetime] NULL,
	[PA_FECHA_ANULACION] [datetime] NULL,
	[PA_DIAS_ANTIGUEDAD] [int] NULL,
	[PA_ORIGEN_REFERENCIA] [varchar](10) NULL,
 CONSTRAINT [PK_SAX_PARTIDAS] PRIMARY KEY CLUSTERED 
(
	[PA_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_REGISTRO_CONTROL]    Script Date: 4/9/2018 5:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_REGISTRO_CONTROL](
	[RC_REGISTRO_CONTROL] [int] IDENTITY(1,1) NOT NULL,
	[RC_COD_PARTIDA] [varchar](15) NOT NULL,
	[RC_COD_USUARIO] [nvarchar](128) NOT NULL,
	[RC_COD_OPERACION] [varchar](5) NOT NULL,
	[RC_ARCHIVO] [varchar](50) NULL,
	[RC_FECHA_PROCESO] [datetime] NOT NULL,
	[RC_COD_AREA] [varchar](5) NOT NULL,
	[RC_TOTAL_REGISTRO] [int] NOT NULL,
	[RC_TOTAL_DEBITO] [decimal](18, 2) NOT NULL,
	[RC_TOTAL_CREDITO] [decimal](18, 2) NOT NULL,
	[RC_TOTAL] [decimal](18, 2) NOT NULL,
	[RC_ESTATUS_LOTE] [varchar](10) NOT NULL,
	[RC_COD_EVENTO] [varchar](10) NULL,
	[RC_FECHA_CREACION] [datetime] NOT NULL,
	[RC_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[RC_FECHA_APROBACION] [datetime] NOT NULL,
	[RC_USUARIO_APROBADOR] [nvarchar](128) NULL,
	[RC_FECHA_MOD] [datetime] NOT NULL,
	[RC_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_REGISTRO_CONTROL] PRIMARY KEY CLUSTERED 
(
	[RC_REGISTRO_CONTROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_SALDO_CONTABLE]    Script Date: 4/9/2018 5:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_SALDO_CONTABLE](
	[SA_ID_SALDO_CONTABLE] [int] IDENTITY(1,1) NOT NULL,
	[SA_INSTITUCION] [int] NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[SA_CUENTA_CONTABLE] [varchar](14) NOT NULL,
	[SA_COD_AUXILIAR] [varchar](3) NOT NULL,
	[SA_NUM_AUXILIAR] [varchar](13) NOT NULL,
	[SA_ESTATUS] [char](1) NOT NULL,
	[SA_SALDOS] [decimal](18, 2) NOT NULL,
	[SA_COD_MONEDA] [varchar](4) NOT NULL,
	[SA_FECHA_CORTE] [datetime] NOT NULL,
	[SA_FECHA_CREACION] [datetime] NOT NULL,
	[SA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[SA_FECHA_MOD] [datetime] NULL,
	[SA_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_SALDO_CONTABLE] PRIMARY KEY NONCLUSTERED 
(
	[SA_ID_SALDO_CONTABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_SALDO_CONTABLE] UNIQUE CLUSTERED 
(
	[CE_ID_EMPRESA] ASC,
	[SA_CUENTA_CONTABLE] ASC,
	[SA_COD_AUXILIAR] ASC,
	[SA_NUM_AUXILIAR] ASC,
	[SA_FECHA_CORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_SUPERVISOR]    Script Date: 4/9/2018 5:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_SUPERVISOR](
	[SV_ID_SUPERVISOR] [int] IDENTITY(1,1) NOT NULL,
	[SV_COD_AREA] [varchar](5) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[SV_COD_SUPERVISOR] [varchar](10) NOT NULL,
	[SV_LIMITE_MINIMO] [varchar](30) NOT NULL,
	[SV_LIMITE_SUPERIOR] [varchar](30) NOT NULL,
	[SV_TIPO_ACCION] [varchar](30) NOT NULL,
	[SV_ESTATUS_ACCION] [varchar](30) NOT NULL,
	[SV_ESTATUS] [int] NOT NULL,
	[SV_FECHA_CREACION] [datetime] NOT NULL,
	[SV_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[SV_FECHA_MOD] [datetime] NULL,
	[SV_USUARIO_MOD] [nvarchar](128) NULL,
	[SV_FECHA_APROBACION] [datetime] NULL,
	[SV_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_SUPERVISOR] PRIMARY KEY NONCLUSTERED 
(
	[SV_ID_SUPERVISOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PK_SUPERVISOR] UNIQUE CLUSTERED 
(
	[SV_COD_AREA] ASC,
	[CE_ID_EMPRESA] ASC,
	[SV_COD_SUPERVISOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_SUPERVISOR_TEMP]    Script Date: 4/9/2018 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_SUPERVISOR_TEMP](
	[SV_ID_SUPERVISOR_TEMP] [int] IDENTITY(1,1) NOT NULL,
	[SV_ID_SUPERVISOR] [int] NOT NULL,
	[SV_COD_AREA] [varchar](5) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[SV_COD_SUPERVISOR] [varchar](10) NOT NULL,
	[SV_LIMITE_MINIMO] [varchar](30) NOT NULL,
	[SV_LIMITE_SUPERIOR] [varchar](30) NOT NULL,
	[SV_TIPO_ACCION] [varchar](30) NOT NULL,
	[SV_ESTATUS_ACCION] [varchar](30) NOT NULL,
	[SV_ESTATUS] [int] NOT NULL,
	[SV_FECHA_CREACION] [datetime] NOT NULL,
	[SV_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[SV_FECHA_MOD] [datetime] NULL,
	[SV_USUARIO_MOD] [nvarchar](128) NULL,
	[SV_FECHA_APROBACION] [datetime] NULL,
	[SV_USUARIO_APROBADOR] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_SUPERVISOR_TEMP] PRIMARY KEY CLUSTERED 
(
	[SV_ID_SUPERVISOR_TEMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_USUARIO_AREA]    Script Date: 4/9/2018 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_USUARIO_AREA](
	[UA_ID_USUARIO_AREA] [int] IDENTITY(1,1) NOT NULL,
	[US_ID_USUARIO] [nvarchar](128) NOT NULL,
	[CA_ID_AREA] [int] NOT NULL,
	[UA_ESTATUS] [int] NOT NULL,
	[UA_FECHA_CREACION] [datetime] NOT NULL,
	[UA_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[UA_FECHA_MOD] [datetime] NULL,
	[UA_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_USUARIO_AREA] PRIMARY KEY CLUSTERED 
(
	[UA_ID_USUARIO_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAX_USUARIO_EMPRESA]    Script Date: 4/9/2018 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAX_USUARIO_EMPRESA](
	[UE_ID_USUARIO_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[US_ID_USUARIO] [nvarchar](128) NOT NULL,
	[CE_ID_EMPRESA] [int] NOT NULL,
	[UE_ESTATUS] [int] NOT NULL,
	[UE_FECHA_CREACION] [datetime] NOT NULL,
	[UE_USUARIO_CREACION] [nvarchar](128) NOT NULL,
	[UE_FECHA_MOD] [datetime] NULL,
	[UE_USUARIO_MOD] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAX_USUARIO_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[UE_ID_USUARIO_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_Estatus]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_Descripcion]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SAX_AREA_CENCOSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_AREA_CENCOSTO_SAX_AREA_OPERATIVA] FOREIGN KEY([CA_ID_AREA])
REFERENCES [dbo].[SAX_AREA_OPERATIVA] ([CA_ID_AREA])
GO
ALTER TABLE [dbo].[SAX_AREA_CENCOSTO] CHECK CONSTRAINT [FK_SAX_AREA_CENCOSTO_SAX_AREA_OPERATIVA]
GO
ALTER TABLE [dbo].[SAX_AREA_CENCOSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_AREA_CENCOSTO_SAX_EMPRESA_CENTRO] FOREIGN KEY([EC_ID_REGISTRO])
REFERENCES [dbo].[SAX_EMPRESA_CENTRO] ([EC_ID_REGISTRO])
GO
ALTER TABLE [dbo].[SAX_AREA_CENCOSTO] CHECK CONSTRAINT [FK_SAX_AREA_CENCOSTO_SAX_EMPRESA_CENTRO]
GO
ALTER TABLE [dbo].[SAX_AREA_OPERATIVA]  WITH CHECK ADD  CONSTRAINT [FK_SAX_AREA_OPERATIVA_AspNetUsers] FOREIGN KEY([CA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_AREA_OPERATIVA] CHECK CONSTRAINT [FK_SAX_AREA_OPERATIVA_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_AREA_OPERATIVA]  WITH CHECK ADD  CONSTRAINT [FK_SAX_AREA_OPERATIVA_AspNetUsers1] FOREIGN KEY([CA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_AREA_OPERATIVA] CHECK CONSTRAINT [FK_SAX_AREA_OPERATIVA_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_CATALOGO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CATALOGO_AspNetUsers] FOREIGN KEY([CA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CATALOGO] CHECK CONSTRAINT [FK_SAX_CATALOGO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_CATALOGO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CATALOGO_AspNetUsers1] FOREIGN KEY([CA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CATALOGO] CHECK CONSTRAINT [FK_SAX_CATALOGO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CATALOGO_DETALLE_AspNetUsers] FOREIGN KEY([CD_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE] CHECK CONSTRAINT [FK_SAX_CATALOGO_DETALLE_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CATALOGO_DETALLE_AspNetUsers1] FOREIGN KEY([CD_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE] CHECK CONSTRAINT [FK_SAX_CATALOGO_DETALLE_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CATALOGO_DETALLE_SAX_CATALOGO1] FOREIGN KEY([CA_ID_CATALOGO])
REFERENCES [dbo].[SAX_CATALOGO] ([CA_ID_CATALOGO])
GO
ALTER TABLE [dbo].[SAX_CATALOGO_DETALLE] CHECK CONSTRAINT [FK_SAX_CATALOGO_DETALLE_SAX_CATALOGO1]
GO
ALTER TABLE [dbo].[SAX_CENTRO_COSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CENTRO_COSTO_AspNetUsers] FOREIGN KEY([CC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CENTRO_COSTO] CHECK CONSTRAINT [FK_SAX_CENTRO_COSTO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_CENTRO_COSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CENTRO_COSTO_AspNetUsers1] FOREIGN KEY([CC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CENTRO_COSTO] CHECK CONSTRAINT [FK_SAX_CENTRO_COSTO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers] FOREIGN KEY([TC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers1] FOREIGN KEY([TC_USUARIO_APROBADOR])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers2] FOREIGN KEY([TC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_AspNetUsers] FOREIGN KEY([TD_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_AspNetUsers1] FOREIGN KEY([TD_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_SAX_COMPROBANTE] FOREIGN KEY([TC_ID_COMPROBANTE])
REFERENCES [dbo].[SAX_COMPROBANTE] ([TC_ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_SAX_COMPROBANTE]
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_SAX_PARTIDAS] FOREIGN KEY([PA_REGISTRO])
REFERENCES [dbo].[SAX_PARTIDAS] ([PA_REGISTRO])
GO
ALTER TABLE [dbo].[SAX_COMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_SAX_COMPROBANTE_DETALLE_SAX_PARTIDAS]
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CONCEPTO_COSTO_AspNetUsers] FOREIGN KEY([CC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO] CHECK CONSTRAINT [FK_SAX_CONCEPTO_COSTO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CONCEPTO_COSTO_AspNetUsers1] FOREIGN KEY([CC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO] CHECK CONSTRAINT [FK_SAX_CONCEPTO_COSTO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CONCEPTO_COSTO_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_CONCEPTO_COSTO] CHECK CONSTRAINT [FK_SAX_CONCEPTO_COSTO_SAX_EMPRESA]
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CUENTA_CONTABLE_AspNetUsers] FOREIGN KEY([CO_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE] CHECK CONSTRAINT [FK_SAX_CUENTA_CONTABLE_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CUENTA_CONTABLE_AspNetUsers1] FOREIGN KEY([CO_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE] CHECK CONSTRAINT [FK_SAX_CUENTA_CONTABLE_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_CUENTA_CONTABLE_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_CUENTA_CONTABLE] CHECK CONSTRAINT [FK_SAX_CUENTA_CONTABLE_SAX_EMPRESA]
GO
ALTER TABLE [dbo].[SAX_DIAS_FERIADOS]  WITH CHECK ADD  CONSTRAINT [FK_SAX_DIAS_FERIADOS_AspNetUsers] FOREIGN KEY([CD_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_DIAS_FERIADOS] CHECK CONSTRAINT [FK_SAX_DIAS_FERIADOS_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_DIAS_FERIADOS]  WITH CHECK ADD  CONSTRAINT [FK_SAX_DIAS_FERIADOS_AspNetUsers1] FOREIGN KEY([CD_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_DIAS_FERIADOS] CHECK CONSTRAINT [FK_SAX_DIAS_FERIADOS_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EMPRESA_CENTRO_AspNetUsers] FOREIGN KEY([EC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO] CHECK CONSTRAINT [FK_SAX_EMPRESA_CENTRO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EMPRESA_CENTRO_AspNetUsers1] FOREIGN KEY([EC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO] CHECK CONSTRAINT [FK_SAX_EMPRESA_CENTRO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EMPRESA_CENTRO_SAX_CENTRO_COSTO1] FOREIGN KEY([CC_ID_CENTRO_COSTO])
REFERENCES [dbo].[SAX_CENTRO_COSTO] ([CC_ID_CENTRO_COSTO])
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO] CHECK CONSTRAINT [FK_SAX_EMPRESA_CENTRO_SAX_CENTRO_COSTO1]
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EMPRESA_CENTRO_SAX_EMPRESA1] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_EMPRESA_CENTRO] CHECK CONSTRAINT [FK_SAX_EMPRESA_CENTRO_SAX_EMPRESA1]
GO
ALTER TABLE [dbo].[SAX_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EVENTO_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_EVENTO] CHECK CONSTRAINT [FK_SAX_EVENTO_SAX_EMPRESA]
GO
ALTER TABLE [dbo].[SAX_EVENTO_TEMP]  WITH CHECK ADD  CONSTRAINT [FK_SAX_EVENTO_TEMP_SAX_EVENTO] FOREIGN KEY([EV_COD_EVENTO])
REFERENCES [dbo].[SAX_EVENTO] ([EV_COD_EVENTO])
GO
ALTER TABLE [dbo].[SAX_EVENTO_TEMP] CHECK CONSTRAINT [FK_SAX_EVENTO_TEMP_SAX_EVENTO]
GO
ALTER TABLE [dbo].[SAX_LOG_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_LOG_USUARIO_AspNetUsers] FOREIGN KEY([US_ID_USUARIO])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_LOG_USUARIO] CHECK CONSTRAINT [FK_SAX_LOG_USUARIO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_LOG_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_LOG_USUARIO_AspNetUsers1] FOREIGN KEY([LG_USUARIO_CREA])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_LOG_USUARIO] CHECK CONSTRAINT [FK_SAX_LOG_USUARIO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_MODULO_AspNetUsers] FOREIGN KEY([MO_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MODULO] CHECK CONSTRAINT [FK_SAX_MODULO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_MODULO_AspNetUsers1] FOREIGN KEY([MO_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MODULO] CHECK CONSTRAINT [FK_SAX_MODULO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_MODULO_ROL_AspNetRoles] FOREIGN KEY([RL_ID_ROL])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL] CHECK CONSTRAINT [FK_SAX_MODULO_ROL_AspNetRoles]
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_MODULO_ROL_AspNetUsers] FOREIGN KEY([MR_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL] CHECK CONSTRAINT [FK_SAX_MODULO_ROL_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_MODULO_ROL_AspNetUsers1] FOREIGN KEY([MR_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL] CHECK CONSTRAINT [FK_SAX_MODULO_ROL_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_MODULO_ROL_SAX_MODULO1] FOREIGN KEY([MO_ID_MODULO])
REFERENCES [dbo].[SAX_MODULO] ([MO_ID_MODULO])
GO
ALTER TABLE [dbo].[SAX_MODULO_ROL] CHECK CONSTRAINT [FK_SAX_MODULO_ROL_SAX_MODULO1]
GO
ALTER TABLE [dbo].[SAX_MONEDA]  WITH CHECK ADD  CONSTRAINT [FK_SAX_MONEDA_AspNetUsers] FOREIGN KEY([CC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MONEDA] CHECK CONSTRAINT [FK_SAX_MONEDA_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_MONEDA]  WITH CHECK ADD  CONSTRAINT [FK_SAX_MONEDA_AspNetUsers1] FOREIGN KEY([CC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_MONEDA] CHECK CONSTRAINT [FK_SAX_MONEDA_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_PARAMETRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers] FOREIGN KEY([PA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARAMETRO] CHECK CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_PARAMETRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers1] FOREIGN KEY([PA_USUARIO_APROBADOR])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARAMETRO] CHECK CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_PARAMETRO]  WITH CHECK ADD  CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers2] FOREIGN KEY([PA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARAMETRO] CHECK CONSTRAINT [FK_SAX_PARAMETRO_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_PARAMETRO_TEMP]  WITH CHECK ADD  CONSTRAINT [FK_SAX_PARAMETRO_TEMP_SAX_PARAMETRO] FOREIGN KEY([PA_ID_PARAMETRO])
REFERENCES [dbo].[SAX_PARAMETRO] ([PA_ID_PARAMETRO])
GO
ALTER TABLE [dbo].[SAX_PARAMETRO_TEMP] CHECK CONSTRAINT [FK_SAX_PARAMETRO_TEMP_SAX_PARAMETRO]
GO
ALTER TABLE [dbo].[SAX_PARTIDAS]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers] FOREIGN KEY([PA_USUARIO_APROB])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARTIDAS] CHECK CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_PARTIDAS]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers1] FOREIGN KEY([PA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARTIDAS] CHECK CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_PARTIDAS]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers2] FOREIGN KEY([PA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_PARTIDAS] CHECK CONSTRAINT [FK_SAX_PARTIDAS_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_PARTIDAS]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_PARTIDAS_SAX_REGISTRO_CONTROL] FOREIGN KEY([RC_REGISTRO_CONTROL])
REFERENCES [dbo].[SAX_REGISTRO_CONTROL] ([RC_REGISTRO_CONTROL])
GO
ALTER TABLE [dbo].[SAX_PARTIDAS] CHECK CONSTRAINT [FK_SAX_PARTIDAS_SAX_REGISTRO_CONTROL]
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL]  WITH CHECK ADD  CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers] FOREIGN KEY([RC_USUARIO_APROBADOR])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL] CHECK CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL]  WITH CHECK ADD  CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers1] FOREIGN KEY([RC_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL] CHECK CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL]  WITH CHECK ADD  CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers2] FOREIGN KEY([RC_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_REGISTRO_CONTROL] CHECK CONSTRAINT [FK_SAX_REGISTRO_CONTROL_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SALDO_CONTABLE_AspNetUsers] FOREIGN KEY([SA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE] CHECK CONSTRAINT [FK_SAX_SALDO_CONTABLE_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SALDO_CONTABLE_AspNetUsers1] FOREIGN KEY([SA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE] CHECK CONSTRAINT [FK_SAX_SALDO_CONTABLE_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SALDO_CONTABLE_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_SALDO_CONTABLE] CHECK CONSTRAINT [FK_SAX_SALDO_CONTABLE_SAX_EMPRESA]
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers] FOREIGN KEY([SV_USUARIO_APROBADOR])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR] CHECK CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers1] FOREIGN KEY([SV_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR] CHECK CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers2] FOREIGN KEY([SV_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR] CHECK CONSTRAINT [FK_SAX_SUPERVISOR_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SUPERVISOR_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR] CHECK CONSTRAINT [FK_SAX_SUPERVISOR_SAX_EMPRESA]
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR_TEMP]  WITH CHECK ADD  CONSTRAINT [FK_SAX_SUPERVISOR_TEMP_SAX_SUPERVISOR] FOREIGN KEY([SV_ID_SUPERVISOR])
REFERENCES [dbo].[SAX_SUPERVISOR] ([SV_ID_SUPERVISOR])
GO
ALTER TABLE [dbo].[SAX_SUPERVISOR_TEMP] CHECK CONSTRAINT [FK_SAX_SUPERVISOR_TEMP_SAX_SUPERVISOR]
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_AREA_AspNetUsers] FOREIGN KEY([UA_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA] CHECK CONSTRAINT [FK_SAX_USUARIO_AREA_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_AREA_AspNetUsers1] FOREIGN KEY([UA_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA] CHECK CONSTRAINT [FK_SAX_USUARIO_AREA_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_AREA_SAX_AREA_OPERATIVA] FOREIGN KEY([CA_ID_AREA])
REFERENCES [dbo].[SAX_AREA_OPERATIVA] ([CA_ID_AREA])
GO
ALTER TABLE [dbo].[SAX_USUARIO_AREA] CHECK CONSTRAINT [FK_SAX_USUARIO_AREA_SAX_AREA_OPERATIVA]
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers] FOREIGN KEY([US_ID_USUARIO])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA] CHECK CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers]
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers1] FOREIGN KEY([UE_USUARIO_CREACION])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA] CHECK CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers1]
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers2] FOREIGN KEY([UE_USUARIO_MOD])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA] CHECK CONSTRAINT [FK_SAX_USUARIO_EMPRESA_AspNetUsers2]
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA]  WITH NOCHECK ADD  CONSTRAINT [FK_SAX_USUARIO_EMPRESA_SAX_EMPRESA] FOREIGN KEY([CE_ID_EMPRESA])
REFERENCES [dbo].[SAX_EMPRESA] ([CE_ID_EMPRESA])
GO
ALTER TABLE [dbo].[SAX_USUARIO_EMPRESA] CHECK CONSTRAINT [FK_SAX_USUARIO_EMPRESA_SAX_EMPRESA]
GO
/****** Object:  StoredProcedure [dbo].[SAX_REPORTE_ROLES_MENU]    Script Date: 4/9/2018 5:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_REPORTE_ROLES_MENU]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [dbo].[SAX_REPORTE_ROLES_MENU]
GO
 CREATE PROCEDURE [dbo].[SAX_REPORTE_ROLES_MENU]
	AS
	 BEGIN

		SELECT		AspNetRoles.Id AS Rol		,		AspNetRoles.Name AS DescripcionRol  ,
					SAX_MODULO.MO_ID_MODULO		,		SAX_MODULO.MO_DESCRIPCION			,
					SAX_CATALOGO_DETALLE.CD_VALOR
		 FROM AspNetRoles 
		 LEFT JOIN SAX_MODULO_ROL		ON	AspNetRoles.Id = SAX_MODULO_ROL.RL_ID_ROL
		 LEFT JOIN SAX_MODULO			ON	SAX_MODULO_ROL.MO_ID_MODULO=SAX_MODULO.MO_ID_MODULO
		 LEFT JOIN SAX_CATALOGO_DETALLE ON  SAX_CATALOGO_DETALLE.CD_ESTATUS=AspNetRoles.Estatus AND SAX_CATALOGO_DETALLE.CA_ID_CATALOGO=12;
	 END
GO
/****** Object:  StoredProcedure [dbo].[SAX_REPORTE_USUARIO]    Script Date: 4/9/2018 5:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_REPORTE_USUARIO]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [dbo].[SAX_REPORTE_USUARIO]
GO
CREATE PROCEDURE [dbo].[SAX_REPORTE_USUARIO]
AS
	BEGIN
		SELECT	t_usuario.UserName											AS cod_usuario			,
				CONCAT(t_usuario.FirstName,t_usuario.LastName)				AS nombre_usuario		,
				SAX_CATALOGO_DETALLE.CD_VALOR								AS [status]				,
				CONCAT(t_area.CA_ID_AREA,'-',t_area.ca_nombre)				AS [area_operativa]		,
				CONCAT(t_empresa.CE_COD_EMPRESA,'-',t_empresa.CE_NOMBRE)	AS empresa
		 FROM [dbo].[AspNetUsers] t_usuario		
		 LEFT  JOIN [dbo].[AspNetUserRoles] t_roles_usuario			ON t_usuario.id						= t_roles_usuario.Userid
		 LEFT JOIN [dbo].[AspNetRoles] t_roles						ON t_roles_usuario.RoleId			= t_roles.Id
		 LEFT  JOIN [dbo].[SAX_USUARIO_AREA] t_usuario_area			ON t_usuario_area.US_ID_USUARIO		= t_usuario.Id
		 LEFT JOIN [dbo].[SAX_AREA_OPERATIVA] t_area				ON t_usuario_area.CA_ID_AREA		= t_area.CA_ID_AREA
		 LEFT JOIN [dbo].[SAX_USUARIO_EMPRESA] t_empresa_usuario	ON t_empresa_usuario.US_ID_USUARIO	= t_usuario.Id
		 LEFT JOIN [dbo].[SAX_EMPRESA] t_empresa					ON t_empresa.ce_id_empresa			= t_empresa_usuario.ce_id_empresa
		 LEFT JOIN SAX_CATALOGO_DETALLE ON  SAX_CATALOGO_DETALLE.CD_ESTATUS=t_usuario.Estatus AND SAX_CATALOGO_DETALLE.CA_ID_CATALOGO=12;
	END
GO
/****** Object:  StoredProcedure [dbo].[SAX_ROLES_POR_USUARIO]    Script Date: 4/9/2018 5:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_ROLES_POR_USUARIO]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [dbo].[SAX_ROLES_POR_USUARIO]
GO
-- =============================================
-- Author:		<Isrrael Espinoza>
-- Create date: <20180304>
-- Description:	<Busca los roles que tiene cada usuario>
-- =============================================
CREATE PROCEDURE [dbo].[SAX_ROLES_POR_USUARIO] 
	-- Add the parameters for the stored procedure here
	@UserId nvarchar(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT			ROLES.Id,
					ROLES.Name,
					ROLES.Description,
					ROLES.Estatus
	FROM			AspNetUserRoles USRROLES
	INNER JOIN		AspNetRoles ROLES 
					ON USRROLES.RoleId = ROLES.Id
	WHERE			USRROLES.UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[SAX_USUARIOS_POR_ROL]    Script Date: 4/9/2018 5:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAX_USUARIOS_POR_ROL]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [dbo].[SAX_USUARIOS_POR_ROL]
GO
CREATE PROCEDURE [dbo].[SAX_USUARIOS_POR_ROL]
AS
BEGIN

		SELECT			USR.Id
						, USR.FirstName
						, USR.LastName
						, USR.UserName
						, USR.Email
						, USR.JoinDate
						, ROLES.Id as 'ROLEID'
		FROM			AspNetUserRoles USRROLES
		INNER JOIN		AspNetUsers USR 
						ON USRROLES.UserId = USR.Id
		INNER JOIN		AspNetRoles ROLES 
						ON USRROLES.RoleId = ROLES.Id
						
END
GO
