<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Banistmo.Sax.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Banistmo.Sax.Services.Properties.Settings>
            <setting name="loginIntranet" serializeAs="String">
                <value>http://intranet.banistmo.corp:8060/core/login/validate_user.asp</value>
            </setting>
        </Banistmo.Sax.Services.Properties.Settings>
    </userSettings>
</configuration>