<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StartTime" value="06:00-20:59"/> <!--Operar de 6 am a 9 pm-->
    <add key="StopTime" value="21:00-23:59;00:00-06:00"/><!--Parar Operar de 9 pm a 6 am-->
    <add key="Pool" value="SaxApiPool"/>
    <add key="ServerName" value="DESKTOP-T36SFN9"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
