<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StartTime" value="06:00-17:00"/>
    <!--Operar de 6 am a 9 pm-->
    <add key="StopTime" value="17:00-23:59;00:00-05:59"/>
    <!--Parar Operar de 9 pm a 6 am-->
    <add key="Pool" value="APISAX"/>
    <add key="ServerName" value="DESKTOP-OIGED8S"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
